---
const title = "cloud.mu — Linux mirrors in Mauritius";
const desscription =
  "Linux mirrors in Mauritius is a project sponsored by cloud.mu. It is run by Linux enthusiasts whose aim is to improve the Linux experience on the island by setting up mirrors for popular Linux distributions, such as Ubuntu, Fedora, openSUSE, AlmaLinux, among others.";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>cloud.mu — Linux mirrors in Mauritius</title>
<meta name="description" content={desscription} />
<link
  rel="icon"
  href="https://mirror.cloud.mu/images/cloudmu-icon.svg"
  type="image/svg+xml"
/>
<link rel="canonical" href="https://mirror.cloud.mu" />
<meta name="referrer" content="no-referrer-when-downgrade" />
<meta property="og:site_name" content="Linux mirrors in Mauritius" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Linux mirrors in Mauritius" />
<meta property="og:description" content={desscription} />
<meta property="og:url" content="https://mirror.cloud.mu" />
<meta
  property="og:image"
  content="https://mirror.cloud.mu/images/linux-mirrors.png"
/>
<meta property="article:published_time" content="2022-10-08T14:56:37.000Z" />
<meta property="article:modified_time" content="2022-10-08T14:56:37.000Z" />
<meta property="article:tag" content="Linux" />
<meta property="article:tag" content="Mauritius" />

<meta property="article:publisher" content="https://cloud.mu" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Linux mirrors in Mauritius" />
<meta name="twitter:description" content={desscription} />
<meta name="twitter:url" content="https://twitter.com/openSUSE_MU" />
<meta
  name="twitter:image"
  content="https://mirror.cloud.mu/images/linux-mirrors.png"
/>
<meta name="twitter:label1" content="Written by" />
<meta name="twitter:data1" content="openSUSE Mauritius" />
<meta name="twitter:label2" content="Filed under" />
<meta
  name="twitter:data2"
  content="Linux, Mauritius, Mirrors, Open Source, Ubuntu, openSUSE, Fedora, AlmaLinux"
/>
<meta name="twitter:site" content="@openSUSE_MU" />
<meta property="og:image:width" content="2000" />
<meta property="og:image:height" content="1045" />
